body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

/* Form */

.form-input::placeholder {
  color: #cacdd1;
}

.form-container {
  padding: 15px 25px;
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 600px;
  max-width: 100%;
  max-height: 100%;
  margin: 0px auto;
}

.form-container.failure {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.5s;  
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.form-header {
  color: grey;
  padding: 5px 0px;;
}

.form-header.active {
  color: #31c1e5;
}


.form-field {
  width: 100%;
  margin: 20px 10px;
}

.form-input {
  border: none;
  width: 100%;
  outline: none;
  font-size: 18px;
  margin: 3px 0px;
  padding: 5px 0px;
  flex-grow: 1
}

.input-container {
  display: flex;
  flex-direction: row;
  border-bottom: 2px solid grey;
}

.input-container.active {
  border-bottom: 2px solid #31c1e5;
}

.input-success {
  flex-grow: 2;
  font-size: 16px;
  padding-top: 15px;
  color: #6ff2bb;
}

.input-container:focus {
  border-bottom: 2px solid #31c1e5;
}

.form-method-button {
  font-weight: bold;
  font-size: 20px;
  color: #31c1e5;
  border: none;
  outline: none;
  padding: 5px;
}

.form-method-button:hover {
  cursor: pointer;
}

.form-method-button.active {
  border-bottom: 2px solid #31c1e5;
}

.form-submit-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.form-submit {
  color: white;
  font-weight: bold;
  font-size: 20px;
  outline: none;
  padding: 10px;
  background-color: #31c1e5;
  border: 2px solid #31c1e5;
}

.form-submit:hover {
  cursor: pointer;
  color: #31c1e5;
  background-color: white;
}

.success-header {
  font-weight: bold;
  font-size: 18px;
}

/* Message */

.message-header {
  font-weight: bold;
  font-size: 24px;
  margin: 15px;
}

.message-text {
  margin: 15px;
}
